# Python compiled byte code
*.pyc
*.log

# Jetbrains Stuff
*.iml
.idea
.env
# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# ignore migrations
migrations

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/
