<div class="main-content">
<div class="page-content">
<div class="header">
    <h2>Sales</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">Agent Stats</li>
        </ol>
    </div>
</div>
<div class="row col-lg-12">
<div class="panel panel-content p-t-0">
<div class="row">
    <div class="col-md-6 portlets">
        <!-- high-charts -->
        <highchart id="agentSalesChart" config="chartConfig">
        </highchart>
    </div>
</div>
</div>
</div>
</div>
</div>
