<section>
<div class="main-content">
<div class="page-content">
    <div class="header">
        <h2>Products</h2>
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Products</li>
            </ol>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="panel">
        <div class="panel-content p-t-0">
        <div class="row">

        <div class="col-md-6 portlets">
                    <ul class="nav nav-tabs nav-primary">
                        <li class="active"><a data-toggle="tab"><i class="icon-user"></i> Products</a></li>
                    </ul>
        <div class="tab-content">

            <div class="tab-pane fade active in">
                <div class="row">
                    <div class="col-lg-12 portlets">
                        <div class="panel">

                            <div class="panel-content pagination2 table-responsive">

                                <div ng-switch="Product">
                                    <div ng-switch-when="0">
                                        You have not added any Products Yet
                                    </div>

                                    <div ng-switch-default="data">

                                        <form class="wizard" data-style="sea" role="form">
                                            <div class="form-group">
                                                <label>Search</label>
                                                <input ng-model="searchText" type="text" class="form-control" placeholder="Search by name" required>
                                            </div>
                                        </form>

                                        <table class="table table-hover table-dynamic" id="searchTextResults">
                                            <thead>
                                            <tr>
                                                <th>Product name</th>
                                                <th>Category</th>
                                                <th>Date added</th>
                                                <th>USSD Channel</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr product="product" ng-repeat="product in Product | filter:searchText track by product.id">
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.category }}</td>
                                                <td>{{ product.created_at }}</td>
                                                <td>{{ product.ussd_channel }}</td>
                                                <td>
                                                    <a href="/#agent/{{ product.id }}"> <button class="btn btn-primary btn-xs">View Agents</button>
                                                    </a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    <div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
  </div>
</div>
</div>
</section>