<div class="main-content">
<div class="page-content">
<div class="header">
    <h2>Sales</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">Product Stats</li>
        </ol>
    </div>
</div>
<div class="row col-lg-12">
<div class="panel panel-content p-t-0">
<div class="row">
    <div class="col-md-6 portlets">

        <div class="wizard-div current wizard-sea">
            <form class="wizard" method="POST" ng-submit="getStats()" data-style="sea" role="form">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Start Date</label>
                            <input ng-model="startDate" type="date" class="form-control" placeholder="Start date" required>
                        </div>
                        <div class="form-group">
                            <label>End Date</label>
                            <input ng-model="endDate" type="date" class="form-control" placeholder="End Date" required>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select ng-model="category" class="form-control" required>
                                <option>sent</option>
                                <option>delivered</option>
                                <option>failed</option>
                                <option>commission</option>
                            </select>
                        </div>
                    </div>

                </div>
                <button id="submit" type="submit" class="btn btn-primary" ng-click="showme=false">Get Stats</button>
                <button class="btn btn-primary" ng-click="showme=true">Hide</button>

            </form>
        </div>

        <!-- high-charts -->
        <div ng-hide="showme">
        <div ng-if="Stats.datum == 0">
            <div>
                No data to Display during this period
            </div>
        </div>
        <div ng-if="Stats.data">
            <highchart id="productSalesChart" config="chartConfig">
            </highchart>
        </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
</div>
