<!DOCTYPE html>
<html ng-app="Jaza">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-Jaza">
    <meta name="author" content="Jaza">
    <title>Jaza</title>
    {% include 'stylesheets.html' %}
</head>

  <base href="/" />

<body class="fixed-topbar fixed-sidebar theme-sdtl color-default">
  {% include 'navbar.html' %}
  {% include 'sidebar.html' %}

  <!-- app views -->
  <div class="ng-view"></div>

  {% include 'footer.html' %}
  {% include 'javascripts.html' %}

  <script>
      var theContent = $('.table table-hover table-dynamic');
  </script>
</body>
</html>
