{% load compress %}
{% load staticfiles %}

<script src="http://code.highcharts.com/stock/highstock.src.js"></script>

{% compress js %}

<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'javascripts/application.js' %}"></script>
<script src="{% static 'javascripts/plugins.js' %}"></script>

<script src="{% static 'bower_components/angular/angular.js' %}"></script>
<script src="{% static 'javascripts/app/vendor/angular-strap.js' %}"></script>
<script src="{% static 'javascripts/app/vendor/angular-strap.tpl.js' %}"></script>
<script src="{% static 'javascripts/app/vendor/angular-messages.js' %}"></script>
<script src="{% static 'javascripts/app/vendor/angular-resource.js' %}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script src="{% static 'bower_components/highcharts-ng/dist/highcharts-ng.min.js' %}"></script>

<script src="{% static 'javascripts/app/app.js' %}"></script>
<script src="{% static 'javascripts/app/controllers/agent.js' %}"></script>
<script src="{% static 'javascripts/app/controllers/product.js' %}"></script>
<script src="{% static 'javascripts/app/controllers/user.js' %}"></script>
<script src="{% static 'javascripts/app/controllers/sales.js' %}"></script>
<script src="{% static 'javascripts/app/services/agent.js' %}"></script>
<script src="{% static 'javascripts/app/services/product.js' %}"></script>
<script src="{% static 'javascripts/app/services/user.js' %}"></script>
<script src="{% static 'javascripts/app/services/sales.js' %}"></script>

{% endcompress %}
