{% load compress %}
{% load staticfiles %}

{% compress js %}

<div class="footer">
    <div class="copyright">
        <p class="pull-left sm-pull-reset">
            <span>Copyright <span class="copyright">©</span> 2015 </span>
            <span>Jaza</span>.
            <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
        </p>
    </div>
</div>

<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<script src="{% static 'javascripts/plugins/step-form-wizard/js/step-form-wizard.js' %}"></script>
<script src="{% static 'javascripts/pages/form_wizard.js' %}"></script>
<script src="{% static 'javascripts/plugins/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'javascripts/plugins/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'javascripts/plugins/jquery-ui/jquery-ui-1.11.2.min.js' %}"></script>
<script src="{% static 'javascripts/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'javascripts/plugins/jquery-cookies/jquery.cookies.min.js' %}"></script>
<script src="{% static 'javascripts/plugins/translate/jqueryTranslator.min.js' %}"></script>
<script src="{% static 'javascripts/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'javascripts/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
<script src="{% static 'javascripts/sidebar_hover.js' %}"></script>
<script src="{% static 'javascripts/application.js' %}"></script>
<script src="{% static 'javascripts/plugins.js' %}"></script>

<script>
    var theContent = $('.table table-hover table-dynamic');
</script>

{% endcompress %}
