<div class="sidebar">
    <div class="logopanel">
        <h1>
            <a href="/"></a>
        </h1>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-top">

        </div>
        <ul class="nav nav-sidebar">
            <li class=" nav-active active">
                <a href="/"><i class="icon-home"></i><span data-translate="dashboard">Dashboard</span></a>
            </li>
            <li class="nav-parent">
                <a href=""><i class="icon-layers"></i><span data-translate="layouts">Products</span><span class="fa arrow"></span></a>
                <ul class="children collapse">
                    <li><a href="/#products" data-translate=""> My Products</a></li>
                </ul>
            </li>

            <li class="nav-parent">
                <a href=""><i class="icon-note"></i><span data-translate="forms">Agents</span><span class="fa arrow"></span></a>
                <ul class="children collapse">
                    <li><a href="/#agents">My Agents</a></li>
                </ul>
            </li>

            <li class="nav-parent">
                <a href=""><i class="icon-note"></i><span
                        data-translate="forms">Agent topup</span><span class="fa arrow"></span></a>
                <ul class="children collapse">
                    <li><a href="/#topup">Agent topup</a></li>
                </ul>
            </li>

        </ul>

    </div>
</div>
