<div class="topbar">
<div class="header-left">
<div class="topnav">
    <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
</div>
</div>
<div class="header-right">
<ul class="header-menu nav navbar-nav">

    <li class="dropdown" id="notifications-header">
        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-bell"></i>
            <span class="badge badge-danger badge-header">Products</span>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-header clearfix">
                <p class="pull-left">12 Products</p>
            </li>
            <li>
                <ul class="dropdown-menu-list withScroll" data-height="220">
                    <li>
                        <a href="#">
                            <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                            Steve Bob
                            <span class="dropdown-time">Airtime</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                            John Doe
                            <span class="dropdown-time">Maize</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text p-r-10 f-18"></i>
                            Ann
                            <span class="dropdown-time">Airtime</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                            Jane Doe
                            <span class="dropdown-time">Maize</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-footer clearfix">
                <a href="index.php" class="pull-left">See all Products</a>
                <a href="#" class="pull-right">
                    <i class="icon-settings"></i>
                </a>
            </li>
        </ul>
    </li>

    <li class="dropdown" id="messages-header">
        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-paper-plane"></i>
        <span class="badge badge-primary badge-header">
        Agents
        </span>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-header clearfix">
                <p class="pull-left">
                    You have 8 Agents
                </p>
            </li>
            <li class="dropdown-body">
                <ul class="dropdown-menu-list withScroll" data-height="220">
                    <li class="clearfix">

                        <div class="clearfix">
                            <div>
                                <strong>Alexa Johnson</strong>
                                <small class="pull-right text-muted">

                                </small>
                            </div>
                            <p></p>
                        </div>
                    </li>
                    <li class="clearfix">

                        <div class="clearfix">
                            <div>
                                <strong>John Smith</strong>
                                <small class="pull-right text-muted">

                                </small>
                            </div>
                            <p></p>
                        </div>
                    </li>
                    <li class="clearfix">

                        <div class="clearfix">
                            <div>
                                <strong>Bobby Brown</strong>
                                <small class="pull-right text-muted">

                                </small>
                            </div>
                            <p></p>
                        </div>
                    </li>
                    <li class="clearfix">

                        <div class="clearfix">
                            <div>
                                <strong>James Miller</strong>
                                <small class="pull-right text-muted">

                                </small>
                            </div>

                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown-footer clearfix">
                <a href="mailbox.html" class="pull-left">Agents</a>
                <a href="#" class="pull-right">
                    <i class="icon-settings"></i>
                </a>
            </li>
        </ul>
    </li>

    <li class="dropdown" id="user-header">
        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

            <span class="username">Hi, John Doe</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="profile.php"><i class="icon-user"></i><span>My Profile</span></a>
            </li>
            <li>
                <a href="#"><i class="icon-logout"></i><span>Logout</span></a>
            </li>
        </ul>
    </li>

</ul>
</div>
</div>